@page "/"

<PageTitle>LoLTimer</PageTitle>

<h1>LoLTimer</h1>

Welcome to LoLTimer! Our application is currently in the early stages of beta testing and will be continuously developed and improved.
<br />
<br />

Don't worry if you notice changes; we're still refining its purpose to provide a user-friendly experience.
<br />
<br />

LoLTimer's primary focus is to offer a platform for practicing flash timers. This feature aims to enhance players' in-game performance by removing the need to constantly think about flash cooldowns during gameplay. We'll keep refining and expanding this functionality to make it an invaluable tool for League of Legends players.
<br />
<br />

<b>TL;DR: </b> LoLTimer is a tool designed for practicing flash timers to
improve in-game decision-making and reaction time. It helps players become
quicker and more efficient during matches.

<SurveyPrompt Title="Questions?">
    Message <b>Ogie</b> in League Of Legends (EUW)
</SurveyPrompt>
<Counter />


